/*$grey: #dadada
*
    box-sizing: border-box;
body
    height: 100%;
    font-size: 20px;
    font-family: 'montserratbold, Helvetica, Arial', sans-serif;
    text-align: center;
    color: rgb(37, 108, 144);
    line-height: 29px;
    vertical-align: middle;

    background: $grey
image
    position: 
    top:

.container
    position:
    max-width: 700px
    margin:
    margin
    col
.text-input
    display: block
    border-radius: 3px
    border:
    outline:
    padding:
    color:
    font-size:
    font-style:
*/

